
{% load static %}

<div class="ui menu">
    <a class="header item">Brand</a>
    <a class="item">Link</a>
    <a class="item">Link</a>

    <div class="ui dropdown item custom-dropdown">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu hidden">
            <div class="item">Action</div>
            <div class="item">Another Action</div>
            <div class="item">Something else here</div>
            <div class="divider"></div>
            <div class="item">Separated Link</div>
            <div class="divider"></div>
            <div class="item">One more separated link</div>
        </div>
    </div>

    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search">
                <i class="search icon"></i>
            </div>
        </div>
        <a class="item">Link</a>
    </div>
</div>

