{% extends '_partials/base.html' %}

{% block title %}
    Admin console delete user!
{% endblock title %}

{% load static %}

{% block content %}
<div class="flex-box">
    <div class="login-container">
        <div class="logo" style="border: 1px solid red;">
            <img src="{% static 'img/6yro.gif' %}" class="image" alt="Logo here">
        </div>
        <h2>Enter email of user</h2>
        <h2>{% include '_partials/messages.html' %}</h2>
        <form method="post" action="{% url 'delete_users' %}">
            {% csrf_token %}
            <input type="email" class="input-field" name="email" placeholder="E-mali"  value="{{data.email}}">
            <button type="submit" class="btn-login" style="color: red;">Delete</button>
        </form>
        <div class="signup-link" style="color: red;">
            Warning! This panel removes users from the user model.
        </div>
    </div>
</div>
{% endblock content %}