{% extends '_partials/base.html' %}

{% block title %}
    Login
{% endblock title %}

{% load static %}

{% block content %}
<div class="flex-box">
    <div class="login-container">
        <div class="logo">
            <img src="{% static 'img/o6m.gif' %}" class="image" alt="Logo here">
        </div>
        <h2>Log-in to your account</h2>
        <h2>{% include '_partials/messages.html' %}</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="email" class="input-field" name="email" placeholder="E-mali"  value="{{data.email}}">
            <input type="password" class="input-field" name="password" placeholder="Password">
            <button type="submit" class="btn-login">Login</button>
        </form>
        <div class="signup-link">
            New to us? <a href="{% url 'register' %}">Register</a>
        </div>
    </div>
</div>
{% endblock content %}